<html>

<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href=<!-- "/static/css/homepage.css" -->>
    <title>Tully and Tsegi Asanas</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="/static/img/forward_bend.png">

        <h1>Yoga Sequence Generator</h1>

        <p class="lead">Asanas.</p>

        <a href="/poses" class="btn btn-lg btn-primary">Generate My Sequence</a>

    </div>
</div>

<footer>
    <p>Copyright Tully and Tsegi 2016. All rights reserved.</p>
</footer>

</body>
</html>
